{% extends "layout.twig" %}
{% block content  %}
    <div class="bg-light py-5">
        <div class="container text-center">
            <h1>{{ page_title }}</h1>
        </div>
    </div>
    <div class="container py-5">
            <div class="article-list mb-4">
                {% for article in articles %}
                    {% if article.data|length > 0 %}
                        <div class="category px-md-4 pb-1 p-2"><h5>{{ article.type }}</h5></div>
                        {% for a in article.data|cast_to_array %}
                            <article class="article px-md-4 py-4 p-2">
                                <h5><a class="title" href="/article/{{ a.id }}">{{ a.title }}</a></h5>
                                <p class="text-muted">{{ a.authors_names }}</p>
                                <p class="text-muted"><span class="fw-bold">Published at: </span> {{ a.published_at|date('d-m-Y h:i a') }}</p>
                                <a href="/article/{{ a.id }}" class="me-3">Abstract</a>
                                {% if a.doi != null %}
                                    | <a target="_blank" rel="noreferrer noopener" href="https://dx.doi.org/{{ a.doi }}" class="ms-3">DOI: {{ a.doi }}</a>
                                {% endif %}
                            </article>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
    </div>
{% endblock %}